.leftTopOptionContainer {
  display: flex;
  align-items: center;
  line-height: 3px;
}

.leftTopOptionContainer > img {
  height: 19px;
  margin-right: 5px;
}

.leftTopOptionContainer > p {
  font-size: 13px;
}

.leftTopOptionContainer > p:hover {
  color: orange;
}
