.middleTopContainer {
  flex: 0.6;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  background-color: white;
  height: 60vh;
}

.middleTopContainer > img {
  width: 100%;
  border-radius: 5px;
}

.buttonSlideContainer {
  display: flex;
  position: absolute;
  bottom: 2%;
  z-index: 1000;
}

.leftButton:hover {
  display: block;
}

.leftButton .MuiSvgIcon-root {
  color: white;
  padding: 6px;
  background-color: black;
  border-radius: 50%;
}

.rightButton .MuiSvgIcon-root {
  color: white;
  padding: 6px;
  background-color: black;
  border-radius: 50%;
}
