.quickLinksContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 70px;
}

.quickLinksOptions {
  display: flex;
  justify-content: flex-start;
  width: 25%;
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.quickLinksOptions > img {
  height: 50px;
  width: 50px;
}

.quickLinksOptions > h2 {
  font-size: 14px;
  padding-left: 10px;
}