.bg-darker{
    background-color: #232323;
    color: white;
}
.bg-darke{
   background-color: #282828;
   color: white;
}
.f-li{
    list-style: none;
    font-size: 13px;
    color: whitesmoke;
}
.f-li a{
    color: #eee;
    text-decoration: none;
}
.f-li a:hover{
    color: #fff;
    text-decoration: underline;
}
.search{
    width: 348px!important;
    height: 34px!important;
}
.btn-outline-light:hover{
    border-color: #f68b1e!important;
    color:#f68b1e!important ;
    outline: 0!important;
    background-color: #222!important;
}